version: '3.5'

services:

  prometheus:
    build: .
    ports:
      - 9090:9090
    environment:
      - SCRAPE_INTERVAL=15s
      - SCRAPE_TIMEOUT=10s
      - STATIC_SCRAPE_TARGETS=scraphere11@scraphere1:8384/teste/metrics scraphere22@scrapehere2:38485
      - DNS_SCRAPE_TARGETS=dnsscrape11@dnsscrape1:1111/metrics dnsscrape22@dnsscrape2:2222/teste/metrics
      - SCHEME_SCRAPE_TARGETS=http
      - REMOTE_WRITE=http://localhost:8086/api/v1/prom/write?db=prometheus
      - REMOTE_WRITE=http://localhost:8086/api/v1/prom/read?db=prometheus 